<br><br><br>
<div class="jumbotron text-center">
  <h3>Please either login or signup stranger!</h3>

  <%= link_to "Sign Up", signup_path,class: "btn btn-primary" %>
  <%= link_to "Login", login_path, class:"btn btn-success" %>

</div>
